* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 20px 60px;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

/* Universal Text */

h1 {
  font-size: 42px;
  color: darkgreen;
}

/* ---- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Nav Section */

nav {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: #495e57;
}

ul {
  display: flex;
  gap: 20px;
}

li {
  text-decoration: none;
  list-style: none;
}

li a,
li a:visited {
  text-decoration: none;
}

/* Form */

.form-wrapper {
  width: 250px;
}

/* Confirmation page */
.confirmation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.confirmation h1 {
  font-size: 42px;
}

.text__top {
  display: flex;
  gap: 10px;
}

/* Error page */
.error-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 10px;
}

/* Mobile Nav */
.mobile-nav {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 858px) {
  nav {
    display: none;
  }

  header {
    justify-content: center;
  }

  .main {
    padding-top: 100px;
  }

  .mobile-nav {
    display: block;
    padding-right: 10%;
  }
}
